services:
  valkey:
    image: valkey/valkey:8-alpine
    volumes:
      - ./docker/valkey/valkey.conf:/usr/local/etc/valkey/valkey.conf:ro
      - ./data/valkey:/data
    command: valkey-server /usr/local/etc/valkey/valkey.conf
    ports:
      - "6379:6379"

  db:
    image: postgres:17-alpine
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    env_file: .env
    ports:
      - "127.0.0.1:5432:5432"
